.application-footer
  .container-fluid
    .application-footer__inner
      .row
        .col-md-8
          %ul.footer-nav
            - footer_links = ['Доставка', 'Оплата', 'Контакты', 'О нас', 'Новости']
            - for l in footer_links
              %li
                %a{href: '#'}= "#{l}"
        .col-md-4
          %ul.footer-nav
            %li
              %a{href: '#'} Facebook
            %li
              %a.footer-nav__trigger{'href': '#instagram', 'onClick': '$(document).trigger("instagram:clicked")'} Instagram