.owl-carousel.product__show__slider#product-slider
  %a.product__show__slider__slide{lightbox: true, href: 'http://images.gear4music.com/media/87068/600/preview.jpg', rel: 'photo-stack'}
    %img{src: 'http://images.gear4music.com/media/87068/600/preview.jpg', alt: ''}
  %a.product__show__slider__slide{lightbox: true, href: 'http://www.plasticsounds.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/m/o/moog_minitaur.jpg', rel: 'photo-stack'}
    %img{src: 'http://www.mesi.fr/product_img/moog_minitaur_front_b.jpg', alt: ''}
  %a.product__show__slider__slide{lightbox: true, href: 'http://www.1905.ru/upload/iblock/885/moog-etherwave-theremin-kit.jpg', rel: 'photo-stack'}
    %img{src: 'http://www.1905.ru/upload/iblock/885/moog-etherwave-theremin-kit.jpg', alt: ''}
  %a.product__show__slider__slide{lightbox: true, href: 'http://galleryplus.ebayimg.com/ws/web/121020506330_1_0_1/1000x1000.jpg', rel: 'photo-stack'}
    %img{src: 'http://galleryplus.ebayimg.com/ws/web/121020506330_1_0_1/1000x1000.jpg', alt: ''}
  %a.product__show__slider__slide{lightbox: true, href: 'http://rekkerd.org/img/201210/moog_mooganalogdelay.jpg', rel: 'photo-stack'}
    %img{src: 'http://rekkerd.org/img/201210/moog_mooganalogdelay.jpg', alt: ''}

.product__show__thumbs#product-thumbs
  .product__show__thumbs__slide
    %img{src: 'http://images.gear4music.com/media/87068/600/preview.jpg', alt: ''}
  .product__show__thumbs__slide
    %img{src: 'http://www.mesi.fr/product_img/moog_minitaur_front_b.jpg', alt: ''}
  .product__show__thumbs__slide
    %img{src: 'http://www.1905.ru/upload/iblock/885/moog-etherwave-theremin-kit.jpg', alt: ''}
  .product__show__thumbs__slide
    %img{src: 'http://galleryplus.ebayimg.com/ws/web/121020506330_1_0_1/1000x1000.jpg', alt: ''}
  .product__show__thumbs__slide
    %img{src: 'http://rekkerd.org/img/201210/moog_mooganalogdelay.jpg', alt: ''}
