
!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title Wanna?Be!
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}

    %link{:href => "stylesheets/app.css", :rel => "stylesheet"}
    %link{:href => "images/favicon/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "images/touch-icon-57.png", :rel => "apple-touch-icon", :sizes => "57x57"}
    %link{:href => "images/touch-icon-72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "images/touch-icon-76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{:href => "images/touch-icon-114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href => "images/touch-icon-120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{:href => "images/touch-icon-144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
    %link{:href => "images/touch-icon-152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
    / Windows 8 Tiles
    %meta{:content => "images/touch-icon-144.png", :name => "msapplication-TileImage"}
    %meta{:content => "#38b0aa", :name => "msapplication-TileColor"}
    %meta{:content => "The MatriXFiles", :name => "application-name"}
    / Internet Explorer 11 Tiles
    %meta{:content => "images/tile-70.png", :name => "msapplication-square70x70logo"}
    %meta{:content => "images/tile-150.png", :name => "msapplication-square150x150logo"}
    %meta{:content => "images/tile-310.png", :name => "msapplication-wide310x150logo"}
    %meta{:content => "images/tile-310.png", :name => "msapplication-square310x310logo"}
    / For iPad landscape splash screen
    %link{:href => "images/apple-splash-screen-1024x748.png", :rel => "apple-touch-startup-image", :sizes => "1024x748"}
    / For iPad portriat splash screen
    %link{:href => "images/apple-splash-screen-768x1004.png", :rel => "apple-touch-startup-image", :sizes => "768x1004"}
    / For iPhone, iPod high resolution portriat splash screen
    %link{:href => "images/apple-splash-screen-640x960.png", :rel => "apple-touch-startup-image", :sizes => "640x960"}
    / For iPhone, iPod standard resolution portriat splash screen
    %link{:href => "images/apple-splash-screen-320x480.png", :rel => "apple-touch-startup-image", :sizes => "320x480"}


  %body.theme-basic
    %script{src: 'scripts/bundle.js'}
    .application
      .application-navbar
        .container-fluid
          .row
            .col-sm-12.col-md-4
              .navbar-description
                Магазин мебели ручной работы
                %br
                = "+7 903 595 1737"
            .col-md-4.col-sm-12.col-xs-12.col-sm-pull-0
              %a.navbar-brand-link{href: 'welcome.html'}
                %img.navbar-brand-image{src: 'images/logo.png', alt:'field & rage'}
            .row.visible-xs
            .col-sm-4
              %a.navbar-cart-btn.navbar-cart-btn-full{data-cart: '5', href: 'cart.html'}
                %span.navbar-cart-btn-icon
                %span.navbar-cart-btn-caption
                  Корзина — 13 000 Р
            .col-sm-12.col-xs-6.col-xs-pull-6.col-sm-pull-0.hidden-sm.hidden-xs
              %button.navbar-categories-toggle-btn.collapsed{"data-target" => "[categories-nav]", "data-toggle" => "collapse", type: "button"}
                %i.fa.fa-bars
                %span.navbar-categories-toggle-btn-caption
                  Каталог


      .application-content
        .container-fluid
          .products__show
            %h1.page-title Корзина
            %form{action: 'checkout.html'}
              .cart__list
                - for i in [1..5]
                  .cart__list-item
                    .row
                      .col-lg-2.col-md-2.col-sm-2.col-xs-4
                        %img{ src: "http://placehold.it/92x92", alt: 'cart item', width: '100%'}
                      .col-lg-3.col-md-3.col-sm-4.col-xs-8
                        .cart__list-item-title
                          Моно-серьга имитация тоннеля серебряная с белыми цирконами
                        .cart__list-item-option
                          Размер 16
                        .cart__list-item-option
                          Арт. 123456
                        .cart__list-item-price.visible-xs
                          12 000 руб.
                        %span.cart__list-item-remove.cart__list-item-remove_xs.visible-xs
                          %img{src: 'images/cross_white.svg', alt: ''}
                      .col-lg-3.col-md-3.col-sm-3.col-xs-12
                        .cart__list-item-quantity
                          %span.cart__list-item-quantity__text
                            Количество
                          .cart__list-item-quantity-select
                            %select
                              %option 1
                              %option{selected} 2
                              %option 3
                              %option 4
                              %option 5
                              %option 6
                              %option 7
                              %option 8
                              %option 9
                              %option 10
                      .col-lg-3.col-md-3.col-sm-2.hidden-xs
                        .cart__list-item-price
                          12 000 руб.
                      .col-lg-1.col-md-1.col-sm-1.hidden-xs
                        %span.cart__list-item-remove
                          %img{src: 'images/cross_white.svg', alt: ''}
                .cart__list-item.cart__list-item_sum
                  .cart__list-item-sum Итого: 12 000 руб.

              .cart__list-actions
                .row
                  .col-lg-3.col-md-4.hidden-sm.hidden-xs
                    %a.cart-btn.cart-btn_clear.cart__list-actions-btn{href: 'welcome.html'}
                      Очистить корзину
                  .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-2.col-sm-12
                    .row
                      .col-md-6.col-sm-6.col-xs-12
                        %input.cart__list-actions-code{type: 'text', placeholder: 'Промо-код (если есть)'}
                      .col-md-6.col-sm-6.col-xs-12
                        .cart-btn-checkout-wrap
                          %button.cart-btn-checkout.cart__list-actions-btn{type: 'submit'}
                            Оформить заказ


      .application-footer
        .container-fluid
          .application-footer__inner
            %ul.footer-nav
              - footer_links = ['Доставка', 'Оплата', 'Контакты', 'О нас', 'Новости']
              - for l in footer_links
                %li
                  %a{href: '#'}= "#{l}"