<!DOCTYPE html>
%html
  %head
    +include 'app/shared/_head.haml'


  %body.theme-basic
    %script{src: 'scripts/bundle.js'}
    .application
      +include 'app/shared/_navbar_empty.haml'


      .application-content
        .container-fluid
          .products__show
            %h1.page-title
              Спасибо за заказ
            
            .cart__complete
              %p Спасибо за заказ. Тут еще какой-то текст, но я не могу скопипастить. Наш телефон +7 (395) 228-88-14
              %a{href: 'welcome.html'} Продолжить покупку


      +include 'app/shared/_footer.haml'

      +include 'app/shared/_themeswitcher.haml'