<!DOCTYPE html>
%html
  %head
    +include 'app/shared/_head.haml'

  %body.theme-basic.style-sugar
    %script{src: 'scripts/bundle.js'}
    .application
      +include 'app/shared/_navbar_with-cart.haml'


      .application-content
        .container-fluid
          .products__show
            .products__show-item-header
              .products__show-item-category
                Столы / Маленькие столы
              %h1.products__show-item-title
                Моно-серьга лалала
              .products__show-item-price
                12 000.-
            .row
              .col-md-6.col-sm-12.col-xs-12
                .owl-carousel.product__show__slider#product-slider
                  %a.product__show__slider__slide{lightbox: true, href: 'http://images.gear4music.com/media/87068/600/preview.jpg', rel: 'photo-stack'}
                    %img{src: 'http://images.gear4music.com/media/87068/600/preview.jpg', alt: ''}
                  %a.product__show__slider__slide{lightbox: true, href: 'http://www.plasticsounds.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/m/o/moog_minitaur.jpg', rel: 'photo-stack'}
                    %img{src: 'http://www.mesi.fr/product_img/moog_minitaur_front_b.jpg', alt: ''}
                  %a.product__show__slider__slide{lightbox: true, href: 'http://www.1905.ru/upload/iblock/885/moog-etherwave-theremin-kit.jpg', rel: 'photo-stack'}
                    %img{src: 'http://www.1905.ru/upload/iblock/885/moog-etherwave-theremin-kit.jpg', alt: ''}
                  %a.product__show__slider__slide{lightbox: true, href: 'http://galleryplus.ebayimg.com/ws/web/121020506330_1_0_1/1000x1000.jpg', rel: 'photo-stack'}
                    %img{src: 'http://galleryplus.ebayimg.com/ws/web/121020506330_1_0_1/1000x1000.jpg', alt: ''}
                  %a.product__show__slider__slide{lightbox: true, href: 'http://rekkerd.org/img/201210/moog_mooganalogdelay.jpg', rel: 'photo-stack'}
                    %img{src: 'http://rekkerd.org/img/201210/moog_mooganalogdelay.jpg', alt: ''}

                .product__show__thumbs#product-thumbs
                  .product__show__thumbs__slide
                    %img{src: 'http://images.gear4music.com/media/87068/600/preview.jpg', alt: ''}
                  .product__show__thumbs__slide
                    %img{src: 'http://www.mesi.fr/product_img/moog_minitaur_front_b.jpg', alt: ''}
                  .product__show__thumbs__slide
                    %img{src: 'http://www.1905.ru/upload/iblock/885/moog-etherwave-theremin-kit.jpg', alt: ''}
                  .product__show__thumbs__slide
                    %img{src: 'http://galleryplus.ebayimg.com/ws/web/121020506330_1_0_1/1000x1000.jpg', alt: ''}
                  .product__show__thumbs__slide
                    %img{src: 'http://rekkerd.org/img/201210/moog_mooganalogdelay.jpg', alt: ''}

              .col-md-6.col-sm-12.col-xs-12
                .products__show-item-content
                  .products__show-item-content-header
                    .products__show-item-category
                      %a{href: ''} Столы
                      %a{href: ''} Маленькие столы
                    %h1.products__show-item-title
                      Моно-серьга лалала
                    .products__show-item-price
                      12 000.-
                .products__show-item__actions
                  .row
                    .col-sm-6.col-xs-12
                      %select.plain-select__select--single
                        %option{selected: 'selected'} Выберите размер
                        %option Размер 15
                        %option Размер 14
                        %option{disabled} Размер 11 — нет в наличии

                    .col-md-5.col-sm-6.col-xs-12
                      %a.products__show-item-cart-btn{href: 'cart.html'}
                        В корзину

                / %h2.products__show-item__subtitle Описание
                .products__show-item-description
                  Make peace, not war! Настоящий блокбастер среди украшений - серебряная моносерьга в виде пули Wanna?Be! - попала в самое сердце столичных модниц. Инкрустированный цирконами аксессуар не оставил и знаменитую на весь мир икону стилю, Рианну. Известная дива не раз дополняла этим аксессуаром свои образы. Рекомендуем надевать кулон вместе с белыми майками, кружевными эспадрильями и джинсами бойфренда.

                / %h3.products__show-item__subtitle Характеристики
                %ul.products__show-item-details
                  - details = [{'Серебро': '12 К'}, {'Цирконы': '10 К'}, {'Кристаллов': '1294'}, {'Вес': '3 гр' }]
                  - for obj, i in details
                    - for key of obj
                      %li
                        = "#{key}:"
                        = obj[key]

          .products__list
            %h2.products__list__title Табуретки
            .row
              - for i in [1..3]
                .products__list-item-wrap
                  .products__list-item{'ks-jump': 'product.html'}
                    .products__list-item-image-block
                      %img.products__list-item-image{ src: "images/product-square.jpg" }
                    .products__list-item-title
                      Моно-серьга имитация тоннеля серебряная с белыми цирконами
                    .products__list-item-price
                      8 900 руб.
      +include 'app/shared/_footer.haml'

      +include 'app/shared/_themeswitcher.haml'
