<!DOCTYPE html>
%html
  %head
    +include 'app/shared/_head.haml'

  %body.theme-basic.style-cc
    %script{src: 'scripts/bundle.js'}
    .application
      +include 'app/shared/_navbar_cc.haml'

      .application-slider(application-slider)
        .application-slider__inner
          - for i in [1..5]
            .application-slider__slide
              %img{src: 'images/slidertest.jpg', alt: ''}

      .application-content
        .container-fluid
          .products__list.products__list_four-in-row(ks-products-container){data-total-pages: 3, data-current-page: 1, data-url: 'shared/_products.html'}
            .row
              +include 'app/shared/_products.haml'
            +include 'app/shared/_load_more.haml'
      
      +include 'app/shared/_footer.haml'

      +include 'app/shared/_themeswitcher.haml'
