<!DOCTYPE html>
%html
  %head
    +include 'app/shared/_head.haml'

  %body.theme-basic.style-sugar
    %script{src: 'scripts/bundle.js'}
    .application
      +include 'app/shared/_navbar.haml'

      .application-slider
        .application-slider__inner
          - for i in [1..5]
            .application-slider__slide
              %img{src: 'images/slidertest.jpg', alt: ''}

      .application-content
        .container-fluid
          .products__list
            .row
              - for i in [1..5]
                .products__list-item-wrap
                  .products__list-item{role: 'jump', 'data-href': 'product.html'}
                    .products__list-item-image-block
                      %img.products__list-item-image{ src: "images/product-square.jpg" }
                    .products__list-item-title
                      Моно-серьга имитация тоннеля серебряная с белыми цирконами
                    .products__list-item-price
                      8 900 руб.

            .products__list-more
              %span.products__list-more__btn ПОКАЗАТЬ ЕЩЕ

      .application-slider.application-slider_photos
        .application-slider__inner
          - for i in [1..8]
            .application-slider__slide
              %img{src: 'http://www.gold4u.ru/pictures/large/R00173.jpg', alt: ''}



      +include 'app/shared/_footer_sugar.haml'

      +include 'app/shared/_themeswitcher.haml'
