// Basic theme

// ============= Settings =============
$basicThemeCategoriesNavBorderColor: #e2e2e2
$basicThemeCategoriesNavLinkColor: #131313
$basicThemeCategoriesNavLinkColorHover: #cbcbcb

$basicThemeCartBtnColor: #cbcbcb
// ============= /Settings =============


.theme-basic

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

  .navbar-brand-image
    @media screen and (max-width: $screen-md-min)
      max-height: 100%

  .application-navbar
    padding-top: 71px
    margin-bottom: 40px
    .container
      position: relative
    @media screen and (max-width: $screen-md-min)
      padding-top: 20px

  .navbar-description
    @media screen and (max-width: $screen-md-min)
      text-align: center
      padding: 0 0 20px

  .categories-nav
    padding: 18px 0 15px
    margin-top: 43px
    border: 1px solid $basicThemeCategoriesNavBorderColor
    border-width: 1px 0
    text-align: center
    li
      a
        text-transform: none
        font-weight: normal
        padding: 15px 20px
        color: $basicThemeCategoriesNavLinkColor
        &:hover
          color: $basicThemeCategoriesNavLinkColorHover

  %cart-btn
    height: auto
    padding: 11px 44px 9px
    
  .navbar-categories-toggle-btn
    padding-top: 8px
    padding-bottom: 8px

  .navbar-cart-btn
    .navbar-cart-btn-empty
      background-color: $basicThemeCartBtnColor
    @media screen and (max-width: $screen-md-min)
      position: fixed
      right: 12px
      top: 13px
      width: 49px
      padding: 11px
      border-radius: 3px
      margin: 0

  // Menu
  .categories-nav
    .dropdown-toggle:focus
      text-decoration: none
    .dropdown-menu
      border: none
      border-radius: 2px
      margin-top: 12px
      width: 306px
      left: 50%
      margin-left: -153px
      background-color: rgba(0,0,0,.5)
      padding: 21px 0 19px
      font-size: 15px
      &:after
        content: ''
        width: 0
        height: 0
        border-style: solid
        border-width: 0 6px 6px 6px
        border-color: transparent transparent #000 transparent
        opacity: .5
        position: absolute
        bottom: 100%
        left: 50%
        margin: 0 0 0 -6px
      &:before
        content: ''
        position: absolute
        top: 3px
        left: 0
        right: 0
        height: 1px
        background-color: #191919
      

      li
        float: left
        width: 50%
        color: #6c6c6c
        border: none
        margin-bottom: 3px
        
        a
          display: block
          padding: 3px 0 3px 32px
          text-align: left
          color: #fff
          border: none
          &:after
            content: attr(data-count)
            color: #5d5d5d
            padding-left: 6px
          &:hover
            background: #cbcbcb

      @media screen and (max-width: $screen-md-min)
        position: relative
        margin: 0
        left: 0
        width: 100%

  .products__list
    &__title
      text-align: center
      font-size: 53px
      margin: 17px 0 16px
    &-item
      height: 410px
      &-title
        font-size: 16px
        margin: 10px 0 0
      &-price
        font-weight: normal
        font-size: 16px
        margin: 0

  //Footer
  .application-footer
    border: none
    padding-bottom: 0
    & > .container
      border-top: 1px solid $basicThemeCategoriesNavBorderColor

  .footer-nav
    margin: 19px 0


  .mm-menu
    list-style: none
    overflow-y: auto
    li
      border-bottom: 1px solid #393939
      a
        color: #fff
        padding: 22px 40px
        font-size: 16px
        display: block
        
    .dropdown
      &-toggle


      &-menu
        border: none
        margin: 0
        position: relative
        background: none
        a
          text-align: left
          border: none
          background: #434343
          &:hover
            background: none        


  .mmenu-open
    display: none
    position: fixed
    z-index: 10
    top: 13px
    left: 12px
    width: 49px
    height: 44px
    background: #000
    border-radius: 3px
    &__tick
      height: 2px
      position: absolute
      left: 13px
      right: 13px
      top: 50%
      background-color: #fff
      margin-top: -6px
      transition: transform .2s ease, margin-top .2s ease, opacity .2s ease
      &_s
        margin-top: -1px
      &_t
        margin-top: 4px
    &_active
      .mmenu-open
        &__tick
          &_f
            margin-top: 0
            transform: rotateZ(45deg)
          &_s
            opacity: 0
          &_t
            margin-top: 0
            transform: rotateZ(-45deg)

  html.mm-opened .mm-page
    box-shadow: none


