.b-adm.b-adm_show
	%a.b-adm__item.b-adm__item_site.b-adm__item_active{href: '#'} Магазин
	%a.b-adm__item.b-adm__item_dashboard{href: '#'} Дешборд
	%a.b-adm__item.b-adm__item_cat{href: '#'} Категории
	%a.b-adm__item.b-adm__item_order{href: '#'} Заказы
	%a.b-adm__item.b-adm__item_setting{href: '#'} Настройки
