.navbar-head
  .container-fluid
    .row
      .col-md-8
        .navbar-description
          Магазин мебели ручной работы
          %a.tel-link{href: 'tel:123123123'}
            ="+7 903 595 1737"
      .col-sm-4
        %a.navbar-cart-btn.navbar-cart-btn-empty{href: 'cart.html'}
          %span.navbar-cart-btn-icon
          %span.navbar-cart-btn-caption
            Корзина
.application-navbar
  .container-fluid
    .row
      .col-md-2
        %a.navbar-brand-link{href: 'welcome.html'}
          %img.navbar-brand-image{src: 'images/cc/logo.png', alt:'field & rage'}
      .col-md-10
        .collapse.navbar-collapse{'categories-nav': ''}
          %ul.categories-nav
            %li.dropdown
              %a.dropdown-toggle{href: '#', data-toggle: "dropdown"} Аксессуары
              %ul.dropdown-menu
                %li.dropdown-col
                  %ul
                    %li
                      %a{href: '#', data-count:'45'} Кольца
                    %li
                      %a{href: '#', data-count:'1'} Цепи
                    %li
                      %a{href: '#', data-count:'6'} Злато
                    %li
                      %a{href: '#', data-count:'12'} Тренд
                    %li
                      %a{href: '#', data-count:'4'} Миднайт
                    %li
                      %a{href: '#', data-count:'9'} Дисплей
                    %li
                      %a{href: '#', data-count:'1'} Цепи
                    %li
                      %a{href: '#', data-count:'6'} Злато


            - categories = ['Столы', 'Стулья', 'Свет', 'Декор' ]
            - for c in categories
              %li
                %a{href: '#'}= "#{c}"
            %li.dropdown.dropdown_right
              %a.dropdown-toggle{href: '#', data-toggle: "dropdown"} Аксессуары
              %ul.dropdown-menu
                %li.dropdown-col
                  %ul
                    %li
                      %a{href: '#', data-count:'45'} Кольца
                    %li
                      %a{href: '#', data-count:'1'} Цепи
                    %li
                      %a{href: '#', data-count:'6'} Злато
                    %li
                      %a{href: '#', data-count:'12'} Тренд
                    %li
                      %a{href: '#', data-count:'4'} Миднайт
                    %li
                      %a{href: '#', data-count:'9'} Дисплей
                    %li
                      %a{href: '#', data-count:'1'} Цепи
                    %li
                      %a{href: '#', data-count:'6'} Злато
                %li.dropdown-col
                  %ul
                    %li
                      %a{href: '#', data-count:'45'} Кольца
                    %li
                      %a{href: '#', data-count:'1'} Цепи
                    %li
                      %a{href: '#', data-count:'6'} Злато
                    %li
                      %a{href: '#', data-count:'45'} Кольца

          #nav
            %ul
              - categories = ['Столы', 'Стулья', 'Свет', 'Декор' ]
              - for c in categories
                %li
                  %a{href: '#'}= "#{c}"
              %li
                %span Аксессуары
                %ul
                  %li
                    %a{href: '#', data-count:'45'} Категория
                  %li
                    %a{href: '#', data-count:'1'} Категория
                  %li
                    %a{href: '#', data-count:'6'} Категория
                  %li
                    %a{href: '#', data-count:'12'} Категория
                  %li
                    %a{href: '#', data-count:'4'} Категория
                  %li
                    %a{href: '#', data-count:'9'} Категория
    
    %a#navopen.mmenu-open.visible-sm.visible-xs{href: "#nav"}
      %span.mmenu-open__tick.mmenu-open__tick_f
      %span.mmenu-open__tick.mmenu-open__tick_s
      %span.mmenu-open__tick.mmenu-open__tick_t
