.b-theme-switch
  .b-theme-switch__item{data-classlist: "theme-basic"} Basic
  .b-theme-switch__item{data-classlist: "theme-basic style-wannabe"} Wannabe
  .b-theme-switch__item{data-classlist: "theme-basic style-sugar"} Sugar