.b-theme-switch
  .b-theme-switch__item{ks-theme-switcher: "", data-classlist: "theme-basic", data-logourl: "images/wannabe/logo.png"} Basic
  .b-theme-switch__item{ks-theme-switcher: "", data-classlist: "theme-basic style-wannabe", data-logourl: "images/wannabe/logo.png"} Wannabe
  .b-theme-switch__item{ks-theme-switcher: "", data-classlist: "theme-basic style-sugar", data-logourl: "images/sugar/logo.png"} Sugar