$products-list-item-image-width: 228px
$products-list-item-height: 228px
$products-form-images-list-padding: 12px

%products__list-item
  margin:
    top: $grid-gutter-width/2
    bottom: $grid-gutter-width*1.5
  cursor: pointer
  +transition(color 0.2s ease)
  +antialiased

.products__list-item
  @extend %products__list-item
  position: relative
  &:hover
    color: $link-hover-color-dark
    .products__list-item-image
      +opacity(0.8)

.products__list-item-block
  text-align: center

.products__list-item-image
  max-width: 100%
  display: inline-block
  +transition(opacity 0.2s ease)

.products__list-item-image-empty
  width: 100%

.products__list-item-title
  margin:
    top: 0.5em
  //
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

.products__list-item-price
  font:
    weight: bold
    size: 18px
  margin-top: 0.5em

