<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'

  %body.theme-basic.style-cc
    .application
      +include 'app/haml/shared/_navbar_cc.haml'


      .application-content
        .container-fluid
          .products__show
            .products__show-item-category
              %a{href: ''} Столы
              %a{href: ''} Маленькие столы
            %h1.products__show-item-title
              Велосипед Linus «Dutchi 1»,<br>односкоростной / Кремовый

            +include 'app/haml/shared/_product-cc-carousel.haml'

            .products__show-item__main
              .row
                .col-md-5
                  .products__show-item-price
                    .big-price
                      %big 19990
                      %span.currency руб
                      %br/
                      %span.price-old 20990 руб
                      %span.sale –5%
                  .products__show-item-description
                    Fuji «Declaration» — упрощенный вариант модели «Classic Track», приспособленный для езды преимущественно по городу

                .col-md-7
                  +include 'app/haml/shared/_modification-list.haml'

            .products__show-item__features
              .row
                - for i in [1..6]
                  .col-md-2.col-sm-4
                    .products__show-item__feature
                      .products__show-item__feature__pic
                        %img{src: 'http://citycycle.ru/upload/product_images/21702/f2a3684cba49a5ee5aeb5cc8748f5d4a_0x0.jpg', alt: ''}
                      Крепкая стальная рама
            
            .row
              .col-md-5.col-sm-6
                %ul.products__show-item-details
                  %li.products__show-item-details__title
                    Технические характеристики
                  - details = [{'Рама и вилка': 'сталь'}, {'Колесо': 'есть'}, {'Ездить': 'может'}, {'Цепь': 'слетает' }]
                  - for obj, i in details
                    - for key of obj
                      %li
                        .products__show-item-details__name
                          = "#{key}:"
                        .products__show-item-details__val
                          = obj[key]
                %a{href: '#'} Показать полностью

              .col-md-7.col-sm-6
                .products__show-item-text
                  %h3
                    Наличие и условия поставки
                  %p
                    Эта модель отгружается как с нашего склада, так и со склада производителя и может требовать уточнения наличия велосипеда в нужной ростовке и цвете. Перед заказом свяжитесь и уточните наличие с менеджером по телефону +7 903 500 20 70.
                  %p
                    Велосипед доставляется в коробке, в фабричной упаковке, частично-разобранный. Набор инструментов для сборки в комплект не входит.
                  %p
                    Если вам необходимо получить уже собранный и настроенный велосипед перед заказом свяжитесь и уточните все детали с менеджером по телефону +7 903 500 20 70. 

          .products__list.products__list_four-in-row
            %h2.products__list__title С этим товаром мы рекомендуем
            .row
              - for i in [1..4]
                .products__list-item-wrap
                  %a.products__list-item{'href': 'product_cc_2.html'}
                    .products__list-item-image-block
                      %img.products__list-item-image{ src: "http://citycycle.ru/upload/iblock/c2f/c2fc837702ea76c8c335085bfbda3d05.jpg" }
                    .products__list-item-title
                      Моно-серьга имитация тоннеля серебряная с белыми цирконами
                    .products__list-item-price
                      8 900 руб.

          .products__list
            %h2.products__list__title Этот товар, но другого цвета
            .row
              - for i in [1..6]
                .products__list-item-wrap
                  %a.products__list-item{'href': 'product_cc_2.html'}
                    .products__list-item-image-block
                      %img.products__list-item-image{ src: "http://citycycle.ru/upload/product_images/26237/38ad26c8324bca1f4af84156c9a64c40_350x235.jpg" }
                    .products__list-item-title
                      Моно-серьга имитация тоннеля серебряная с белыми цирконами
                    .products__list-item-price
                      8 900 руб.
      +include 'app/haml/shared/_footer.haml'

      +include 'app/haml/shared/_themeswitcher.haml'

    %script{src: 'scripts/vendor.js'}
    %script{src: 'scripts/client.js'}