<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'

  %body.theme-basic.style-sugar
    .application
      +include 'app/haml/shared/_navbar.haml'

      .application-slider(application-slider)
        .application-slider__inner
          - for i in [1..5]
            .application-slider__slide
              %img{src: 'images/slidertest.jpg', alt: ''}

      .application-content
        .container-fluid
          .products__list(ks-products-container){data-total-pages: 3, data-current-page: 1, data-url: 'shared/_products.html'}
            .row
              +include 'app/haml/shared/_products.haml'
            +include 'app/haml/shared/_load_more.haml'

      .application-slider.application-slider_photos(application-slider)
        .application-slider__inner
          - for i in [1..8]
            .application-slider__slide
              %img{src: 'http://www.gold4u.ru/pictures/large/R00173.jpg', alt: ''}


      +include 'app/haml/shared/_footer_sugar.haml'

      +include 'app/haml/shared/_themeswitcher.haml'

    %script{src: 'scripts/vendor.js'}
    %script{src: 'scripts/client.js'}