<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'

  %body.theme-basic.style-cc
    .application
      +include 'app/haml/shared/_navbar_cc.haml'

      .application-slider(application-slider)
        .application-slider__inner
          - for i in [1..5]
            .application-slider__slide
              %img{src: 'images/slidertest.jpg', alt: ''}

      .application-content
        .container-fluid
          .products__list(ks-products-container){data-total-pages: 3, data-current-page: 1, data-url: 'shared/_products.html'}
            .row
              +include 'app/haml/shared/_products.haml'

      +include 'app/haml/shared/_footer.haml'

      +include 'app/haml/shared/_themeswitcher.haml'

    %script{src: 'scripts/vendor.js'}
    %script{src: 'scripts/client.js'}