.b-item-list
  @extend .b-layout

  &__title
    font-size: 53px
    text-align: center
    margin: 52px 0 56px

  &__content
    @extend %grid

  &__item
    @extend %grid__item
    @extend %four-twelfths
    @extend %lap--one-half
    @extend %palm--one-whole
    .b-item
      margin: 15px 0
      transition: color .1s ease
      &__pic
        transition: opacity .1s ease
        backface-visibility: hidden
      &:hover
        .b-item__pic
          opacity: .8

  &_four-in-row
    .b-item-list
      &__item
        @extend %three-twelfths
        @extend %lap--one-half
        @extend %palm--one-whole

  &_has-filter
    margin-top: 55px
    overflow: hidden
    .b-item-list
      &__filter
        width: 190px
        float: left
        border-right: 1px solid #f0f0f0
        padding-right: 10px
      &__content
        margin-left: 210px

    @include grid-media-query("lap")
      .b-item-list
        &__filter
          float: none
          width: 100%
          padding: 0
          border: none
        &__content
          margin-left: 0

    @include grid-media-query("palm")
      .b-item-list
        &__filter
          float: none
          width: 100%
          padding: 0
          border: none
        &__content
          margin-left: 0
        