@charset "UTF-8";

$screen-sm: 508px !default; //bootstrap override

@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";
@import "settings/design";
@import "settings/variables";
@import "settings/mixins";
@import "settings/fonts";
@import "fonts/gotham";
@import "fonts/apercu";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

@import "compass-mixins/lib/compass/typography/links/link-colors";
@import "font-awesome/scss/font-awesome";

@import "jQuery.mmenu/src/scss/jquery.mmenu.all";

@import "settings/typography";

@import "settings/layout";

// turns off responsive layouts:
// @import settings/layout-width

@import "settings/links";
@import "settings/icons";

@import "utilities/utils";
@import "utilities/responsive";

@import "settings/forms";

@import "modules/owlcarousel";

@import "modules/buttons";
@import "modules/modal";
@import "modules/dropdown";
@import "modules/carousel";
@import "modules/alerts";
@import "modules/login";
@import "modules/cart";
@import "modules/floatcart";
@import "modules/theme-switch";
@import "modules/adm";
@import "modules/bigprice";
@import "modules/modification";
@import "modules/stock-status";
@import "modules/filter";
@import "modules/search";

@import "modules/navbar";
@import "modules/categories";
@import "modules/products";
@import "modules/carousel";
@import "modules/footer";

@import "modules/fancybox";

@import "theme-basic"; //Базовая тема
@import "theme-basic_black"; //Базовая темная тема

@import "style-sugar"; //Сахарная тема
@import "style-wannabe"; //Уонаби тема
@import "style-cc"; //cc тема
@import "style-etc"; //etc тема